<main>
    <section class="container-register">
        <div class="card-register">
            <div class="content-register">
                <div class="register-img-container">
                    <i class="fa-solid fa-user-plus register-img"></i>
                </div>
                <div class="register-user">
                    Usuario:
                    <input type="text" name="" id="" class="input-content" placeholder="Ingrese su nombre de usuario" required>
                </div>
                <div class="register-password">
                    Contraseña:
                    <div class="container-password">
                        <input type="password" id="pass-register" class="input-content-password" placeholder="Ingrese su contraseña">
                        <div class="img-password">
                            <button onclick="btnPassword2()"><i class="fa-solid fa-eye"></i></button>
                        </div>
                    </div>
                </div>
                <div class="buttons-register">
                    <input type="submit" value="Registrarse">
                    <a class="register" routerLink="">Inicio</a>
                </div>
            </div>
        </div>
    </section>
</main>