<header>
    <div class="container-header">
        <div class="header">
            <div class="logo">
                <a routerLink="">
                    <img class="img-logo" src="../../../assets/img/logo_ap_optimized.png" alt="Logo">
                    <span>#YoProgramo</span>
                </a>
            </div>
            <div class="header-buttons">
                <div class="redes">
                    <a href="https://www.instagram.com/fernydiaz62/" target="_blank">
                        <i class="fa-brands fa-instagram-square style1"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/fernandodiaz62/" target="_blank">
                        <i class="fa-brands fa-linkedin style2"></i>
                    </a>
                </div>
                <div class="login">
                    <a class="btn-login" id="btn-login" (click)='showLogin()' >
                        <small id="span">Login</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
