<section class="section exp-laboral">
    <div class="exp-img banner">
        <h2 class="title-banner">Experiencia Laboral</h2>
    </div>

    <div class="container-exp-laboral template-content">
        <div class="img-laboral img-template">
            <img src="../../../../assets/img/header_optimized.jpg" alt="">
        </div>
        <div class="content-datos datos-template">
            <div class="title-exp">
                <h2>Trabajo 1</h2>
            </div>
            <div class="description-exp description-template">
                <p>Emprendimiento para la realización de una página web para un local de bebidas.</p>
                <p class="fecha-exp fecha-template">(01/06/2021 - Actualidad.)</p>
            </div>
        </div>
    </div>

    <div class="container-exp-laboral template-content">
        <div class="img-laboral img-template">
            <img src="../../../../assets/img/header_optimized.jpg" alt="">
        </div>
        <div class="content-datos datos-template">
            <div class="title-exp">
                <h2>Trabajo 1</h2>
            </div>
            <div class="description-exp description-template">
                <p>Emprendimiento para la realización de una página web para un local de bebidas.</p>
                <p class="fecha-exp fecha-template">(01/06/2021 - Actualidad.)</p>
            </div>
        </div>
    </div>
</section>