<section class="section proyectos">
    <div class="proyectos-img banner">
        <h2 class="title-banner">Proyectos</h2>
    </div>

    <div class="container-proyectos template-content">
        <div class="img-proyectos img-template">
            <a href="https://candela-fest.netlify.app/" target="_blank">
                <img src="./assets/img/candela-fest_optimized.png" alt="">
            </a>
        </div>
        <div class="content-datos datos-template">
            <div class="title-proyectos">
                <h2>Tarjeta de Invitación</h2>
            </div>
            <div class="description-proyectos description-template">
                <p>
                    Tarjeta de invitación para un XI
                </p>
                <p class="fecha-proyectos fecha-template">(25/06/2021)</p>
            </div>
        </div>
    </div>

    <div class="container-proyectos template-content">
        <div class="img-proyectos img-template">
            <a href="https://poetic-puffpuff-82b3db.netlify.app" target="_blank">
                <img src="./assets/img/portfolio-freecodecamp_optimized.png" alt="">
            </a>
        </div>
        <div class="content-datos datos-template">
            <div class="title-proyectos">
                <h2>Portfolio</h2>
            </div>
            <div class="description-proyectos description-template">
                <p>
                    Proyecto de FreeCodeCamp para tener el certificado de css responsivo
                </p>
                <p class="fecha-proyectos fecha-template">(22/04/2021)</p>
            </div>
        </div>
    </div>

    <div class="container-proyectos template-content">
        <div class="img-proyectos img-template">
            <a href="https://glittering-alpaca-c578d6.netlify.app/" target="_blank">
                <img src="./assets/img/proyecto-prueba_optimized.png" alt="">
            </a>
        </div>
        <div class="content-datos datos-template">
            <div class="title-proyectos">
                <h2>Página de prueba</h2>
            </div>
            <div class="description-proyectos description-template">
                <p>
                    Proyecto de práctica de css grid y flex
                </p>
                <p class="fecha-proyectos fecha-template">(22/04/2021)</p>
            </div>
        </div>
    </div>

    <div class="container-proyectos template-content">
        <div class="img-proyectos img-template">
            <a href="https://leafy-malasada-1be1e2.netlify.app/" target="_blank">
                <img src="./assets/img/landing-page-freecodecamp_optimized.png" alt="">
            </a>
        </div>
        <div class="content-datos datos-template">
            <div class="title-proyectos">
                <h2>Página de prueba para FreeCodeCamp</h2>
            </div>
            <div class="description-proyectos description-template">
                <p>
                    Proyecto de FreeCodeCamp para tener el certificado de css responsivo
                </p>
                <p class="fecha-proyectos fecha-template">(22/04/2021)</p>
            </div>
        </div>
    </div>

    <div class="container-proyectos template-content">
        <div class="img-proyectos img-template">
            <a href="https://resonant-blini-b7980b.netlify.app/" target="_blank">
                <img src="./assets/img/form-freecodecamp_optimized.png" alt="">
            </a>
        </div>
        <div class="content-datos datos-template">
            <div class="title-proyectos">
                <h2>Formulario</h2>
            </div>
            <div class="description-proyectos description-template">
                <p>
                    Proyecto de FreeCodeCamp para tener el certificado de css responsivo
                </p>
                <p class="fecha-proyectos fecha-template">(22/04/2021)</p>
            </div>
        </div>
    </div>

</section>