<section class="acerca-de">
    <div class="datos">
        <h1 class="nombre">Luis Fernando Diaz</h1>
        <h2 class="titulo">Full Stack Developer Jr.</h2>
    </div>
    <div class="historial-laboral">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, vero culpa. Necessitatibus omnis unde nam cumque eum blanditiis expedita ipsam dignissimos, molestias odio quam temporibus corporis nostrum nulla fugiat veritatis quasi.
        </p>
    </div>
</section>