<section class="section educacion">
    <div class="edu-img banner">
        <h2 class="title-banner">Educación</h2>
    </div>

    <div class="container-educacion template-content">
        <div class="img-educacion img-template">
            <img src="../../../../assets/img/cuenca_optimized.png" alt="">
        </div>
        <div class="content-datos datos-template">
            <div class="title-educacion">
                <h2>Universidad de la Cuenca del Plata</h2>
            </div>
            <div class="description-educacion description-template">
                <p>Lic. En Sistemas de Información.</p>
                <p class="fecha-educacion fecha-template">(01/02/2020 - 31/12/2022)</p>
            </div>
        </div>
    </div>

    <div class="container-educacion template-content">
        <div class="img-educacion img-template">
            <img src="../../../../assets/img/teclab_optimized.png" alt="">
        </div>
        <div class="content-datos datos-template">
            <div class="title-educacion">
                <h2>Teclab</h2>
            </div>
            <div class="description-educacion description-template">
                <p>Técnico Superior en Programación.</p>
                <p class="fecha-educacion fecha-template">(22/03/2022 - 31/12/2022)</p>
            </div>
        </div>
    </div>

    <div class="container-educacion template-content">
        <div class="img-educacion img-template">
            <img src="../../../../assets/img/arg-programa_optimized.jpg" alt="">
        </div>
        <div class="content-datos datos-template">
            <div class="title-educacion">
                <h2>Argentina Programa #YoProgramo.</h2>
            </div>
            <div class="description-educacion description-template">
                <p>Desarrollador Web Full Stack Jr.</p>
                <p class="fecha-educacion fecha-template">(22/03/2022 - 31/08/2022)</p>
            </div>
        </div>
    </div>

    <div class="container-educacion template-content">
        <div class="img-educacion img-template">
            <img src="../../../../assets/img/oracle_logo_optimized.jpg" alt="">
        </div>
        <div class="content-datos datos-template">
            <div class="title-educacion">
                <h2>Oracle Next Education.</h2>
            </div>
            <div class="description-educacion description-template">
                <p>Desarrollador Web Full Stack.</p>
                <p class="fecha-educacion fecha-template">(16/07/2022 - 31/12/2022)</p>
            </div>
        </div>
    </div>
</section>